*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: $mainFonts;
    text-rendering: optimizeSpeed;
    line-height: 1;
    background-color: $colorFFF;
  }

ul,
ol{
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.container{
    max-width: 1428px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.title {
    color: $colorBlack;
    font: $fontTitle;
}

.slider{
    &__btns{

    }
    &__btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        border: none;
        background-color: rgba($color: #252931, $alpha: 0.5);
    }
    &__left{
        opacity: 0.5;
        left: 0;
        border-radius: 0px 30px 30px 0px;
        padding: 18px 17px 14px 11px;
    }
    &__right{
        z-index: 100;
        right: 0;
        border-radius: 30px 0px 0px 30px;
        padding: 18px 11px 14px 17px;
    }
}

.slider__main-next{
    border-radius: 30px 0 0 30px;
    height: 48px;
    width: 36px;
    cursor: pointer;
    border: none;
    background-image: url('../img/icons/slider-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(37,41,49, 0.5);
}
.slider__main-left{
    border-radius: 0 30px 30px 0;
    height: 48px;
    width: 36px;
    cursor: pointer;
    border: none;
    background-image: url('../img/icons/slider-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(37,41,49, 0.5);
}

@media (max-width: 768px) {
    .title{
        font: $fontTitleTable;
    }
    .slider{
        &__btn{
            svg{
                height: 9px;
                width: 7px;
            }
        }
        &__left{
            padding: 12px 12px 8px 8px;
        }
        &__right{
            padding: 12px 8px 8px 12px;
        }
    }
    .slider__main-next{
        height: 36px;
        width: 27px;
    }
    .slider__main-left{
        height: 36px;
        width: 27px;
    }
}

@media (max-width: 550px) {
    .inner-slider{
        &__img{
            max-height: auto;
            min-height: 85px;
        }
    }
}