.banner {
    &__content{
        background-color: $colorLight;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
    }
}
.container {
}
.banner__container {
}
.banner__img {
    margin-right: 14px;
    &::after{
        content: '';
        display: inline-block;
        width: 2px;
        height: 23px;
        background-color: #00AEB8;
        border-radius: 30px;
        margin-left: 5px;
    }
}
.banner__text {
    font-size: 18px;
    line-height: 21px;
    color: #272560;
    strong{
        font-weight: 600;
    }
    a{
        font-size: 14px;
        line-height: 17px;
        color: #272560;
    }
}

@media (max-width: 768px) {
    .banner{
        &__content{
            height: 60px;
        }
        &__text{
            font-size: 14px;
            line-height: 17px;
        }
        &__img{
            svg{
                width: 60px;
                height: 18px;
            }
            &::after{
                height: 18px;
                margin-left: 0px;
            }
        }
    }
}
@media(max-width: 550px) {
    .banner{
        &__content{
            height: auto;
            flex-direction: column;
            padding: 15px 0;
        }
        &__text{
            margin-top: 15px;
            a{
                text-align: center;
                display: block;
                margin-top: 15px;
            }
        }
        &__img{
            svg{
                width: 37px;
                height: 13px;
            }
            &::after{
                display: none;
            }
        }
    }
}