.custome {
    padding: 14px 0 35px;
    &__content{
        max-width: calc(100% - 232px);
        
    }
    &-slider__right{
        z-index: 100;
    }
}
.container {
}
.custome__container {
    display: flex;
    align-items: center;
    position: relative;
    flex: 0 1 auto;
    // overflow: hidden;
    max-width: calc(100% + 15px);
}
.custome__inner {
    background: url('../img/custome/inner.jpg') center;
    background-size: cover;
    min-width: 232px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.custome__name {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: $colorFFF;
    width: 100px;
    text-align: center;
}
.custome__link {
    font-size: 13px;
    line-height: 15px;
    color: $colorFFF;
    position: absolute;
    bottom: 32px;
}
.custome__slider {
    

}
.custome__wrapper {
    
}
.custome__field {
    
}

.msi-laptops {
    padding-bottom: 40px;
}
.container {
}
.tab__categories {
    display: flex;
    margin-bottom: 15px;
}
.tab__category {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #838383;
    cursor: pointer;
    height: 25px;
    transition: color 0.3s linear;
    &:not(:last-child){
        margin-right: 25px;
    }
    &:hover{
        color: $colorBlack;
        &:after{
            opacity: 1;
        }
    }
    &::after{
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: $colorBlue;
        opacity: 0;
        transition: opacity 0.3s linear;
    }
}
.custome__container {
}
.msi-laptops__inner {
    background: url('../img/msi-laptops/inner.jpg') center no-repeat ;
    object-fit: cover;

}
.desctops__inner{
    background: url('../img/desctops/inner.jpg') center no-repeat;
}
.monitor-inner{
    background: url('../img/monitors/inner.jpg') center no-repeat;
}

.opac-anim{
    animation-name: opac-anim;
    animation-duration: 0.9s;
}

@keyframes opac-anim {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
    
}

@media (max-width: 1398px) {
    .custome__content{
        max-width: calc(100% - 217px);
    }
}

@media (max-width: 768px) {
    .tab__category{
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .custome{
        padding-bottom: 15px;
        &__content{
            max-width: 100%;
        }
        &__container{
            display: block;
        }
        &__inner{
            height: auto;
            padding: 20px 0 39px;
            width: 100%;
            object-fit: cover;
            background-size: cover;
            margin-bottom: 15px;
        }
        &__name{
            font-size: 18px;
            line-height: 23px;
            width: auto;
        }
        &__link{
            bottom: 15px;
        }
        &-slider__right{
            top: 67%;
        }
    }
    .msi-laptops{
        padding-bottom: 15px;
    }
    .msi-laptops__right{
        top: 67%;
    }
    .monitors__right{
        top: 67%;
    }
    .tab__categories{
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .tab__category{
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .desctops-slider__right{
        top: 67%;
    }
}
