.advantage {
    padding: 54px 0;
}
.container {
}
.advantage__content {
    display: flex;
    justify-content: space-between;
    max-width: 1055px;
    margin: 0 auto;
}
.advantage__item {
    width: 265px;
    text-align: center;
}
.advantage__img {
    margin-bottom: 25px;
}
.advantage__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: $colorBlack;
    margin-bottom: 13px;
}
.advantage__text {
    font-size: 14px;
    line-height: 19px;
    color: $colorBlack;
}