.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header-top__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-top {
    background-color: $colorBlack;
    height: 44px;
}
.header-top__info {
    position: relative;
}
.header-top__schedule {
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font: $fontMain;
    cursor: pointer;
    color: $colorGrey;
    border: none;
    span{
        color: $colorFFF;
        margin-left: 3px;
        margin-right: 3px;
    }

}
.header-top__logo{
    display: none;
}
.header-top__text {
    font: $fontMain;
    color: $colorGrey;
    a{
        display: inline;
    }
}
.header-top__contsctus{
    display: none;
    color: $colorFFF;
    margin-left: 4px;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 3px solid $colorFFF;
    font: $fontMain;
}

.header-top__call {
}
.header-top__call-us {
    display: flex;
    align-items: center;
    font: $fontMain;
    color: $colorFFF;
}
.header-top__tel {
    color: $colorFFF;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 14px;
}
.header-top__social {
    height: 21px;
    &:not(:last-child){
        margin-right: 6px;
    }
}
.header-top__schedule-block {
}
.schedule {
    position: absolute;
    top: 130%;
    left: 0;
    width: 262px;
    padding: 10px 0 9px;
    transform: translatey(10%);
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-out;
    &_active{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translatey(0);
    }
}
.scedule__top {
    display: flex;
    padding-left: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 7px;
}
.scedule__img {
    margin-right: 7px;
}
.scedule__info {
}
.schedule__text-top {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: $colorBlack;
    margin-bottom: 4px;
}
.scedule__week {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: $colorLightGrey;
    margin-bottom: 9px;
    span{
        color: $colorBlack;
        margin-left: 1px;
    }
}
.scedule__middle {
    display: flex;
    padding: 10px 0 10px 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.scedule__text-middle {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: $colorBlack;
    max-width: 189px;
}
.scedule__bottom {
    padding: 10px 0 10px 21px;
}
.scedule__text-bottom {
    font-size: 13px;
    line-height: 18px;
    color: $colorBlack;
    span{
        color: $colorBlue;
        text-decoration: none;
    }
}
.header-bottom {
    background-color: $colorFFF;
}
.container {
}
.header-bottom__container {
    display: flex;
    align-items: center;
    height: 92px;
}
.header-bottom__logo {
    padding: 14px 26px 15px 25px;
    margin-right: 30px;
}
.header-bottom__menu {
}
.menu {
    &_hide{
        display: none;
    }
    &__hide{
        display: none;
    }
    &__logo-mobile{
        display: none;
    }
    &__body{
        &::before{
            display: none;
        }
    }
    &__next{
        display: none;
    }
}
.menu__icon {
}
.menu__body {
}
.menu__list {
    display: flex;
    align-items: center;
    position: relative;
}
.menu__item {
    padding: 10px 0;
    &:last-child{
        margin-left: 12px;
    }
    &:hover > .submenu {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}
.menu__link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0 13px;
    color: $colorBlack;
    font: $fontMiddle;
    transition: all 0.3s linear;
    &:hover{
        background-color: $colorBlue;
        color: $colorFFF;
    }
}
.menu__link-details {
    text-decoration: none;
    border: 2px solid $colorBlue;
    color: $colorBlue;
    border-radius: 50px;
    font: $fontMiddle;
    padding: 5px 24px;
    transition: all 0.3s linear;
    &:hover{
        background-color: $colorBlue;
        color: $colorFFF;
    }
}
.header-bottom__right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search {
    position: relative;
    margin-right: 25px;
    display: flex;
    width: 100%;
}
.input__search {
    display: none;
    width: 100%;
    height: 60px;
    border-radius: 31px;
    border: none;
    background-color: $colorLight;
    padding-left: 30px;
    outline: none;
    font-size: 14px;
    line-height: 21px;
    &::-ms-clear{
        width : 0;
        height: 0;
    }
    &::placeholder{
        font-size: 14px;
        line-height: 21px;
        color: $colorLightGrey;
    }
    &_show{
        display: block;
    }
}
.search__btn {
    background: none;
    padding: 0;
    cursor: pointer;
    border: none;
}
.search__cancel{
    display: none;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    &_show{
        display: block;
    }
}
.search__input-mobile {
    display: none;
    width: 100%;
    height: 38px;
    background-color: $colorFFF;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 11px;
    line-height: 16px;
    padding-left: 38px;
    &::placeholder{
        color: #cacdd8;
    }
}
.search__btn-mobile {
    display: none;
    position: absolute;
    left: 15px;
    top: 13px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    svg{
        path{
            fill: #cacdd8;
        }
    }
}
.header-bottom__cart {
}
.cart {
    margin-top: 3px;
    margin-right: 25px;
}
.cart__btn {
    position: relative;
    background: none;
    padding: 0;
    cursor: pointer;
    border: none;
}
.cart__quantity {
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: $colorBlue;
    border-radius: 100%;
    font-size: 10px;
    font-weight: 700;
    padding: 2.4px 5.2px;
    color: $colorFFF;
}
.header-bottom__profile {
}
.profile {
    position: relative;
}
.profile__btn {
    background: url('../img/icons/avatar.png') center no-repeat;
    background-size: cover;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.profile__list {
    position: absolute;
    top: 120%;
    right: 0;
    width: 232px;
    background-color: $colorFFF;
    padding: 20px 0 17px 24px;
    transform: translateY(10%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-out;
    &_active{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
    }
}
.profile__item {
}
.profile__link {
    font-weight: 500;
    color: $colorBlack;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $colorFFF;
    // box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.sub-first {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 395px;
}
.sub-first__item {
    width: 353px;
    &:hover > .sub-two{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}
.sub-first__link {
    display: flex;
    padding: 10px 23px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $colorBlack;
    text-decoration: none;
    transition: background-color 0.3s linear;
    &:hover{
        background-color: $colorLight;
    }
}

.sub-two {
    position: absolute;
    width: 262px;
    height: 395px;
    right: -262px;
    background-color: $colorFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    top: -1px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease-out;
}
.sub-two__item {
    position: relative;
    &:hover > .sub-three{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}
.sub-two__link {
    display: flex;
    padding: 10px 23px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $colorBlack;
    text-decoration: none;
    transition: background-color 0.3s linear;
    &:hover{
        background-color: $colorLight;
    }
}

.sub-three {
    position: absolute;
    top: -1px;
    width: 263px;
    right: -263px;
    background-color: $colorFFF;
    height: 395px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.sub-three__item { 
}
.sub-three__link {
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: $colorBlack;
    text-decoration: none;
    padding: 10px 28px;
    transition: background-color 0.3s linear;
    span{
        font-size: 14px;
        color: $colorGrey;
    }
    &:hover{
        background-color: $colorLight;
    }
}

@media (max-width: 1276px) {
    .header-bottom{
        &__logo{
            margin-right: 0;
        }
    }
    .cart{
        margin-right: 17px;
    }
}

@media (max-width: 1238px) {
    .header-top{
        height: 40px;
        &__container{
        }
        &__logo{
            display: block;
            position: absolute;
            top: 7px;
            left: 15px;
        }
        &__elps{
            position: relative;
        }
        &__logo-svg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__info{
            margin-left: 110px;
        }
    }
    .header-bottom{
        background-color: $colorBlue;
        &__container{
            height: 64px;
        }
        &__logo{
            display: none;
        }
        &__right{
            margin-left: 50px;
            width: 100%;
        }
    }
    .menu{
        &__list{
            
        }
        &__icon{
            display: block;
            position: relative;
            margin-left: 10px;
            height: 19px;
            width: 26px;
            cursor: pointer;
            z-index: 5;
            span{
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $colorFFF;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                height: 2px;
                background-color: $colorFFF;
            }
            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                height: 2px;
                background-color: $colorFFF;
            }
        }
        &__body.menu__body_active{
            left: 0;
        }
        &__body{
            position: fixed;
            top: 0;
            left: -100%;
            width: 436px;
            height: 100%;
            background-color: $colorFFF;
            z-index: 5;
            transition: left 0.3s ease;
            padding: 87px 24px 0;
        }
        &__list{
            display: block;
            max-width: 403px;
            transition: all 0.3s ease;
            &::after{
                content: '';
                position: absolute;
                top: -12px;
                left: 0;
                display: block;
                height: 1px;
                width: 100%;
                background-color: #CACDD8;
            }
        }
        &__item{
            padding: 0;
        }
        &__link{
            justify-content: left;
        }
        &__hide{
            display: block;
            position: absolute;
            top: 34px;
            right: 27px;
            cursor: pointer;
            padding: 0;
            background: none;
            border: none;
        }
        &__logo-mobile{
            display: block;
            position: absolute;
            top: 12px;
            left: 0;
            padding: 12px 21px;
        }
        &__next{
            display: block;
            position: relative;
            z-index: 20;
        }
    }
    .search{
        &__btn{
            display: none;
        }
        &__input-mobile{
            display: block;
        }
        &__btn-mobile{
            display: block;
        }
    }
    .cart{
        margin-top: 8px;
        &__btn{
            svg{
                path{
                    fill: $colorFFF;
                }
            }
        }
        &__quantity{
            background-color: $colorFFF;
            color: $colorBlue;
        }
    }
    .submenu{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        top: 0;
        left: 100%;
    }
    .sub-first{
        top: 0px;
        display: none;
        border: none;
        &::after{
            content: '';
            position: absolute;
            top: -12px;
            left: 0;
            display: block;
            height: 1px;
            width: 100%;
            background-color: #CACDD8;
        }
    }
    .sub-two{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        top: 0;
        border: none;
        &::after{
            content: '';
            position: absolute;
            top: -12px;
            left: 0;
            display: block;
            height: 1px;
            width: 100%;
            background-color: #CACDD8;
        }
    }
}

@media (max-width: 961px) {
    .header-top{
        &__text{
            display: none;
        }
        &__contsctus{
            display: inline;
        }
        &__call{
            display: none;
        }
    }
}