.inner {
}
.container {
}
.inner__container {
    
}
.inner__slider {
    
}
.inner-slider {
    width: 100%;
    position: relative;
}
.inner-slider__wrapper {
    overflow: hidden;
}
.inner-slider__field {
    display: flex;
}
.inner-slider__slide {
    max-width: 100%;
    flex-shrink: 1;
}
.inner-slider__img {
    width: 100%;
    max-height: 328px;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.inner-slider__btns {

}
.inner-slider__btn {
   
}
.inner-slider__left {
}
.inner-slider__right {

}

@media (max-width: 770px) {
    .inner-slider{
        &__img{
            max-height: 173px;
        }
    }
}

@media (max-width: 550px) {
    .inner-slider{
        &__img{
            max-height: auto;
            min-height: 85px;
        }
    }
}

.slider-flex{
    flex-shrink: 0;
}