//colors
$colorLight: #F5F7FF;
$colorBlue: #0156FF;
$colorLightBlue: #01A4FF;
$colorGrey: #A2A6B0;
$colorLightGrey: hsl(227, 15%, 82%);
$colorBlack: #000000;
$colorRed: #C94D3F;
$colorGreen: #78A962;
$colorLightBlack: #666666;
$colorFFF: #fff;

//fonts
$mainFonts: 'Poppins', sans-serif;
$fontMain: 600 12px/18px $mainFonts;
$fontMiddle: 600 14px $mainFonts;
$fontTitle: 600 22px/33px $mainFonts;
$fontLink: 400 13px/15px $mainFonts;
//fotns tablet
$fontMainTablet: 600 11px/16px $mainFonts;
$fontMiddleTablet:  400 13px $mainFonts;
$fontTitleTable: 600 18px/27px $mainFonts;
